body{
  background-color: #011627;
  font-style: italic;
  color: #dfe4ed;
  text-align: center;
  border: 40px solid #2EC486;
  border-top: 0px;
  padding: 40px;
  margin:20px;
}
p{
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}
form{
  font-size: 20px;
}
